.body {
    --test: #00ff00;
}

.help {
    justify-content: center;
    align-items: flex-start;
    width: 32px;
    transform: rotate(-90deg);
}

#test {
    display: flex;
    font-size: 12px;
    width: 100%;
    height: 20vh;
    color: var(--test);
}