[submodule "engine/glfw"]
	path = engine/glfw
	url = https://github.com/glfw/glfw
	ignore = dirty
[submodule "engine/fmt"]
	path = engine/fmt
	url = https://github.com/fmtlib/fmt
	ignore = dirty
[submodule "engine/VulkanMemoryAllocator"]
	path = engine/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
	ignore = dirty
