[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
